<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div class="container">
    <button
      class="navbar-toggler"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <span class="navbar-toggler-icon"></span>
    </button>
      <img routerLink="/home" src=""  class="d-none d-lg-block" id="titleLogo">
      <img routerLink="/home" src="" id="titleLogo2">
    <div
      class="collapse navbar-collapse "
      id="collapseExample"
      [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLinkActive="active"
            routerLink="/home" (click)="topScroll()" class="nav-link">Home</a>
          </li>
        </ul>
    </div>
    <div class="">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
      </form>
    </div>
  </div>
</nav>
